<head th:fragment="head">

    <meta charset="utf-8">

    <title>aiCardl</title>
    <!-- ########################################################################## -->
    <!-- CSS & Fonts -->
    <!-- ########################################################################## -->


    <link rel="stylesheet" th:href="@{/css/cardOverview.css}"/>
    <link rel="stylesheet" th:href="@{/css/deckOverview.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/css/registration.css}"/>




</head>