<div class="header" th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <label class="logo"><a th:href="@{/index}">aiCard</a></label>
    <ul>
        <!-- NavBar -->
        <li>
            <a th:href="@{/index}">Home</a>
        </li>
        <li>
            <a th:href="@{/learnSets}">Decks</a>
        </li>
        <li>
            <a th:href="@{/learnSetShop}">learnSetShop</a>
        </li>
        <li>
            <a th:href="@{/profile}">Profil</a>
        </li>
    </ul>

    <label class="logIn"><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Log-In</a></label>

    <label class="logIn"><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Log-Out</a></label>

</div>

