* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root {
    --fontColor: black;
}

body {
    background: rgb(31, 9, 92);
    background: linear-gradient(126deg, rgb(31, 9, 92) 0%, rgba(9, 9, 121, 1) 25%, rgb(55, 166, 189) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--fontColor);
    display: list-item;
}

body>* {
    width: 100%;
}

.btn:hover,
.btn:focus {
    background-color: darken(black, 25%);
    transition: 0.5s;
}

a {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    color: var(--fontColor);
    text-decoration: underline currentColor;
}

a:hover {
    text-decoration: underline solid currentColor 2px;
}

.header *,
.footer * {
    color: white;
    position: relative;
}

.header {
    height: 60px;
    position: fixed;
    top: 0;
}

.pageContent {
    position: relative;
    margin-top: 160px;
    margin-bottom: 50px;
    min-height: calc(100vh - 40px - 160px - 50px);
}

.footer {
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.header * {
    display: inline-block;
    height: 100%;
    text-align: center;
    line-height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.header>* {
    position: relative;
}

.header ul {
    position: relative;
    left: 50%;
    transform: translate(-100%, 0);
}

.logIn {
    float: right;
}

.left {
    position: absolute;
    left: 0px;
    width: 50%;
}

.right {
    position: absolute;
    left: 50%;
    width: 50%;
}

.whiteBG {
    background-color: white;
}

.pannel {
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}

.btnPlaceHolder {
    position: relative;
    height: 50px;
    width: 100%;
}