.registration {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

form>* {
    position: relative;
    padding: 10px;
}

.button {
    position: absolute;
    right: 0px;
    background-color: turquoise;
    bottom: 0px;
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.registrationLink {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
}