.registration {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    min-height: 300px;
    border-radius: 20px;
    background-color: white;
    overflow: hidden;
}

form>* {
    position: relative;
    padding: 10px;
}

form p,
form .inputtext {
    display: list-item;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}

.button {
    position: absolute;
    right: 0;
    background-color: turquoise;
    bottom: 0;
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.registrationLink,
.registrationLink:visited {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: underline currentColor;
}

.registrationLink:hover {
    text-decoration: underline solid currentColor 2px;
}