.registrationGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
}

.registration {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    min-height: 300px;
    overflow: hidden;
}

.formListElement input,
.formListElement select,
.formListElement textarea {
    display: list-item;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    width: 80%;
    overflow: auto;
}



.formListElement {
    position: relative;
    display: list-item;
    padding: 10px;
}

.formListElement>* {
    position: relative;
    display: list-item;
}

form div label {
    left: 10%;
}