<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/header :: header"></div>

<br>
<br>
<br>

<form method="POST" id="addCardForm" th:action="@{'/addCard/' + ${id}}">

  <label for="cardFront">Vorderseite</label>
  <input id="cardFront" name="cardFrontText"  type="text" class="" >
  <br>

  <label for="cardBack">Rückseite</label>
  <input name="cardBackText" id="cardBack" type="text" class="" >
  <br>

  <button>Submit</button>
</form>

</body>
</html>