<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body th:object="${learnSet}">
<div th:replace="fragments/header :: header"></div>
    <div class="pageContent">

        <div class="learnset-info whiteBG pannel">

            <div class="">
                <h1>Card Overview</h1>
                <h2 id="kase" th:text="${learnSet.getTitle()}"></h2>

                <h4>Beschreibung</h4>
                <p th:text="${learnSet.getDescription()}">
                </p>

                <div th:each=" admin : ${learnSet.getAdminList()}">
                    <h4 th:text="${admin.getEmail()}"></h4>
                </div>

                <p th:text="${learnSet.getOwner().getEmail()}">

                </p>
            </div>
            <div th:switch="${isOwner}">
                <div th:case="true" class="btnContainer">
                    <div class="btn redBtn">
                        <a th:href="@{'/deleteLearnSet/' + ${learnSet.getId()}}">X</a>
                    </div>
                    <div class="btn yellowBtn">
                        <a th:href="@{'/editLearnSet/' + ${learnSet.getId()}}">EDIT</a>
                    </div>
                    <a type="button" class="btn blueBtn">COMMENTS</a>
                </div>
                <div th:case="false" class="btnContainer">
                  <div class="btn blueBtn">
                    <a>COMMENTS</a>
                  </div>
                </div>
            </div>
            <div class="btnPlaceHolder"></div>
        </div>

        <div th:switch="${isAdmin}" id="addCard" class="cards">
            <div th:case="true" className="add-card" class="pannel transparentPannel">
                <a  th:href="@{'/addCard/' + ${learnSet.getId()}}">+</a>
            </div>

            <div th:each="card : ${cardList}" class="card whiteBG pannel">
                <div class="cardSites">
                <div th:switch="${card.getCardFront().getType().name()}" class=cardOFront>
                    <div th:case="TextFile">
                        <p th:text="${card.getCardFront().getTitle()}"></p>
                        <p th:text="${card.getCardFront().getData()}"></p>
                    </div>

                    <div th:case="PictureFile">
                        <p th:text="${card.getCardFront().getData()}"></p>
                        <p th:text="${card.getCardFront().getTitle()}"></p>
                        <img th:src="${card.getCardFront().getData()}">
                    </div>

                    <div th:case="AudioFile">
                        <p th:text="${card.getCardFront().getTitle()}"></p>
                        <audio controls>
                            <source th:src="${card.getCardFront().getData()}" type="audio/mpeg"> <!--type="?"-->
                        </audio>
                    </div>

                    <div th:case="VideoFile">
                        <p th:text="${card.getCardFront().getTitle()}"></p>
                        <video width="400" controls>
                            <source th:src="${card.getCardFront().getData()}" type="video/mp4"> <!--type="?"-->
                        </video>
                    </div>
                </div>
                <!--End Switch-->

                <div th:switch="${card.getCardBack().getType().name()}" class=cardOBack>
                    <div th:case="TextFile">
                        <p th:text="${card.getCardBack().getTitle()}"></p>
                        <p th:text="${card.getCardBack().getData()}"></p>
                    </div>

                    <div th:case="PictureFile">
                        <p th:text="${card.getCardBack().getData()}"></p>
                        <p th:text="${card.getCardBack().getTitle()}"></p>
                        <img th:src="${card.getCardBack().getData()}">
                    </div>

                    <div th:case="AudioFile">
                        <p th:text="${card.getCardBack().getTitle()}"></p>
                        <audio controls>
                            <source th:src="${card.getCardBack().getData()}" type="audio/mpeg"> <!--type="?"-->
                        </audio>
                    </div>

                    <div th:case="VideoFile">
                        <p th:text="${card.getCardBack().getTitle()}"></p>
                        <video width="400" controls>
                            <source th:src="${card.getCardBack().getData()}" type="video/mp4"> <!--type="?"-->
                        </video>
                    </div>


                </div>
                <!--End Switch-->
                </div>
                <div th:switch="${isAdmin}">
                    <div class="btnContainer bottom" th:case="true">
                        <div class="btn blueBtn">
                            <a th:href="@{'/editCard/' + ${card.getId()}}">Please edit ME</a>
                        </div>
                        <div class="btn redBtn">
                            <a  th:href="@{'/deleteCard/' + ${card.getId()}}">Please Delete ME</a>
                        </div>
                    </div>
                </div>
                <div class="btnPlaceHolder"></div>
            </div>


        </div>


    </div>
<div class="footer"><a href="">Impressum</a></div>
</body>

</html>