<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body th:object="${learnSet}">
<div th:replace="fragments/header :: header"></div>
<div class="pageContent">

    <div class="learnset-info whiteBG pannel">

        <div class="formListElement">
            <h1>Kartenübersicht</h1>
            <label class="head" id="kase" th:text="${learnSet.getTitle()}"></label>
        </div>
        <div class="formListElement">
            <label>Beschreibung:</label>
            <p th:text="${learnSet.getDescription()}"></p>
        </div>
        <div class="formListElement">
            <label>Fakultät:</label>
            <p th:text="${learnSet.getFaculty()}"></p>
        </div>
        <div class="formListElement">
            <label>Evaluation:</label>
            <p th:if="${learnSet.calculateEvaluation() != -1}"
               th:text="${learnSet.calculateEvaluation() + ' % positive Bewertungen bei '+
                   learnSet.getCommentList().size() + ' Bewertungen'}"></p>
            <p th:if="${learnSet.calculateEvaluation() == -1}">Es gab noch keine Bewertung</p>
        </div>
        <div class="formListElement">
            <label>Admins:</label>
            <div th:each=" admin : ${learnSet.getAdminList()}">
                <a th:href="@{'/profile/' + ${admin.getId()}}" th:text="${admin.getEmail()}"></a>
            </div>
        </div>
        <div th:switch="${isOwner}">
            <div class="btnContainer bottom" th:case="true">
                <div class="btn redBtn">
                    <a th:href="@{'/deleteLearnSet/' + ${learnSet.getId()}}">löschen</a>
                </div>
                <div class="btn yellowBtn">
                    <a th:href="@{'/editLearnSet/' + ${learnSet.getId()}}">bearbeiten</a>
                </div>
                <div class="btn blueBtn">
                    <a th:href="@{'/getComments/' + ${learnSet.getId()}}" type="button">kommentieren</a>
                </div>
            </div>
            <div class="btnContainer bottom" th:case="false">
                <div class="btn blueBtn">
                    <a th:href="@{'/getComments/' + ${learnSet.getId()}}" type="button">kommentieren</a>
                </div>
            </div>
        </div>
        <div class="btnPlaceHolder"></div>
    </div>

    <div class="cards" id="addCard" th:switch="${isAdmin}">
        <div class="pannel transparentPannel" className="add-card" th:case="true">
            <a th:href="@{'/addCard/' + ${learnSet.getId()}}">+</a>
        </div>

        <div class="card whiteBG pannel" th:each="card : ${cardList}">
            <div class="cardSites">
                <div th:switch="${card.getCardFront().getType().name()}">
                    <div th:case="TextFile">
                        <p th:text="${card.getCardFront().getTitle()}"></p>
                        <p th:text="${card.getCardFront().getData()}"></p>
                    </div>

                    <div th:case="PictureFile">
                        <p th:text="${card.getCardFront().getTitle()}"></p>
                        <img th:src="${card.getCardFront().getData()}">
                    </div>

                    <div th:case="AudioFile">
                        <p th:text="${card.getCardFront().getTitle()}"></p>
                        <audio controls>
                            <source th:src="${card.getCardFront().getData()}" type="audio/mpeg"> <!--type="?"-->
                        </audio>
                    </div>

                    <div th:case="VideoFile">
                        <h4 th:text="${card.getCardFront().getTitle()}"></h4>
                        <video controls width="400">
                            <source th:src="${card.getCardFront().getData()}" type="video/mp4"> <!--type="?"-->
                        </video>
                    </div>
                </div>
                <!--End Switch-->

                <div th:switch="${card.getCardBack().getType().name()}">
                    <div th:case="TextFile">
                        <p th:text="${card.getCardBack().getTitle()}"></p>
                        <p th:text="${card.getCardBack().getData()}"></p>
                    </div>

                    <div th:case="PictureFile">
                        <p th:text="${card.getCardBack().getTitle()}"></p>
                        <img th:src="${card.getCardBack().getData()}">
                    </div>

                    <div th:case="AudioFile">
                        <p th:text="${card.getCardBack().getTitle()}"></p>
                        <audio controls>
                            <source th:src="${card.getCardBack().getData()}" type="audio/mpeg"> <!--type="?"-->
                        </audio>
                    </div>

                    <div th:case="VideoFile">
                        <p th:text="${card.getCardBack().getTitle()}"></p>
                        <video controls width="400">
                            <source th:src="${card.getCardBack().getData()}" type="video/mp4"> <!--type="?"-->
                        </video>
                    </div>


                </div>
                <!--End Switch-->
            </div>
            <div th:switch="${isAdmin}">
                <div class="btnContainer bottom" th:case="true">
                    <div class="btn redBtn">
                        <a th:href="@{'/deleteCard/' + ${card.getId()}}">löschen</a>
                    </div>
                </div>
            </div>
            <div class="btnPlaceHolder"></div>
        </div>


    </div>


</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>