<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body th:object="${learnSet}" >
    <div th:replace="fragments/header :: header"></div>

    <section class="cardOverview">

        <h1>Card Overview</h1>

        <div  class="learnset-info">

            <div  class="left-side">

                <h2 id="kase" th:text="${learnSet.get().getTitle()}"> </h2>

                <h4>Beschreibung</h4>
                <p  th:text="${learnSet.get().getDescription()}">
                </p>

                <div th:each=" admin : ${learnSet.get().getAdminList()}">
                    <h4 th:text="${admin.getEmail()}"> </h4>
                </div>

                <p th:text="${learnSet.get().getOwner().getEmail()}">

                </p>
            </div>

            <div class="right-side">
                <form method="POST">
                    <input type="button" value="X">
                    <input type="button" value="EDIT">
                    <input type="button" value="COMMENTS">
                </form>

            </div>
        </div>

        <div id="addCard" class="cards">
            <h2>
                Karten
            </h2>
<!--            TODO: get all Cards to this current LearnSet-->
<!--            <div th:each="card : ${cardList}"   class="Card">-->
<!--                <span th:if="${card instanceof T(my.project.Cat)}" th:text="A cat"></span>-->

                <!--                <form th:object="${Card}" th:method="POST" th:action="@{/cardEdit}">-->
<!--                    <input th:value="${card.getCardFront()}" th:field="*{cardFront}" type="text" name="front">-->
<!--                    <input th:value="${card.getCardBack().}" th:field="*{cardBack}" type="text" name="back">-->
<!--                    <input th:field="${card.getId()}" type="hidden">-->
<!--                    <button th:type="submit">save</button>-->
<!--                </form>-->
<!--            </div>-->
        </div>

            <div className="add-card">
                <a th:href="@{'/addCard/' + ${learnSet.get().getId()}}">add Card</a>
<!--            <button style="width:100px;height: 20px;" id="add"></button>-->
            </div>

        </div>

    </section>

    <footer>
<!--        <script th:inline="javascript" th:src="@{/js/old_addCard.js}"></script>-->
    </footer>
</body>
</html>