<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="pageContent">

    <div class="registration whiteBG pannel" th:if="not ${hasCommented}">

        <form method="POST" th:action="@{'/addComment/' + ${learnSet.getId()}}" th:object="${newComment}">
            <div class="formListElement">
                <label for="message">Kommentarnachricht</label>
                <textarea cols="30" id="message" maxlength="255" name="message" rows="10"
                          th:field="*{message}"></textarea>
            </div>
            <div>
                <div class="btnContainer bottom">
                    <input class="btn redBtn" name="recommend" type="submit" value="no">
                    <input class="btn blueBtn" name="recommend" type="submit" value="yes">
                </div>
            </div>

            <div class="btnPlaceHolder"></div>

        </form>

    </div>

    <div class="whiteBG pannel" id="addCard" th:each="comment : ${learnSet.getCommentList()}">
        <div class="formListElement">
            <a th:href="@{'/profile/' + ${comment.getSender().getId()}}"
               th:text="${comment.getSender().getEmail()}"></a>
        </div>
        <div class="formListElement">
            <p th:text="${comment.getMessage()}"></p>
            <p class="commentInfo"
               th:text="'empfiehlt ' + ${comment.getRecommended()} + ', um ' + ${{comment.getTime()}} + ' Uhr'"></p>
        </div>


        <!--End Switch-->
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>