<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<script th:src="@{/js/showAddFriendsAsAdminTable.js}"></script>
    <div th:replace="fragments/header :: header"></div>

  TODO : make edit learnset

    <div class="pageContent">

        <div class="">
            <form id="updateLearnSet" th:action="@{'/updateLearnSet/' + ${learnSetOld.getId()}} " th:object="${learnSetOld}" method="POST">

                <div class="formListElement">
                    <label for="Title">Titel</label>
                    <input th:field="*{title}" id="Title" type="text"  class="inputtext" required>
                </div>

                <div class="formListElement">
                    <label for="description">description</label>
                    <input th:field="*{description}" id="description" type="text" class="inputtext" required>
                </div>

                <div class="formListElement">
                    <label for="learnsetFaculty">Fakultät</label>
                    <select id="learnsetFaculty" th:field="*{faculty}">
                        <option th:each="facu : ${T(de.aicard.domains.enums.Faculty).values()}"
                                th:text="${facu}"
                                th:value="${facu}"
                                th:selected="${learnSetOld.getFaculty().equals(facu)}">
                        </option>
                    </select>
                </div>

                <div class="formListElement">
                    <label for="learnsetVisibility">Sichtbarkeit</label>
                    <select id="learnsetVisibility" th:field="*{visibility}">
                        <option  th:each="visi : ${T(de.aicard.domains.enums.Visibility).values()}"
                                 th:text="${visi}"
                                 th:value="${visi}"
                                 th:selected="${learnSetOld.getVisibility().equals(visi)}">
                        </option>
                    </select>
                </div>

                <button type="button" id="showAddFriendsAsAdminTable">Freunde zum hinzufügen in die AdminListe anzeigen</button>

                <table style="display: none;" id="friendTable">
                    <tbody>
                        <tr th:each="friend : ${owner.getFriends()}" th:if="${!learnSetOld.getAdminList().contains(friend)}">
                            <td><a th:href="@{'/profile/' + ${friend.getId()}}" th:text="${friend.getEmail()}"></a></td>
                            <td >
                                <a class="" th:href="@{'/addAccountToAdminList/'+${learnSetOld.getId()} + '/' + ${friend.getId()}}">+</a>
                            </td>
                        </tr>
                    </tbody>
                </table>



                <table>
                    <tbody>
                    <tr th:each="admin : ${learnSetOld.getAdminList()}">
                        <td><a th:href="@{'/profile/' + ${admin.getId()}}" th:text="${admin.getEmail()}"></a></td>
                        <td th:if="${owner.getId().equals(learnSetOld.getOwner().getId()) && !admin.getId().equals(owner.getId()) }">
                            <a class="" th:href="@{'/removeAccountFromAdminList/'+${learnSetOld.getId()} + '/' + ${admin.getId()}}">X</a>
                        </td>
                    </tr>
                    </tbody>
                </table>



                <div class="btnContainer">
                    <input type="submit" class="btn blueBtn">
                </div>
                <div class="btnPlaceHolder"></div>

            </form>
        </div>

    </div>
</body>
</html>