<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/deckOverview.css}">
</head>

<body>
    <div class="header">
        <label class="logo"><a href="">aiCard</a></label>
        <ul>
            <!-- NavBar -->
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Decks</a>
            </li>
            <li>
                <a href="">Profil</a>
            </li>
        </ul>
        <label class="logIn"><a href="">Log-In</a></label>
    </div>
    <div class="pageContent">

        <p style="color:white">Meine LearnSets</p>
        <div   class="gridContainer">
            <!-- display:grid 3 Spalten -->

            <div class="gridItem newGridItem">
                <a th:href="@{/createLearnset}">
                    <p>+</p>
                </a>
            </div>

            <!-- weitere gridItmes werden dynamisch geladen -->
            <div th:each="adminLearnSets : ${learnSetListAdmin}"  class="gridItem">
                <div th:text="${adminLearnSets.title}" class="deckName"></div>
                <div th:text="${adminLearnSets.getCardList().getListLength()}" class="cardCount">count: </div>
<!--                <div th:text="${adminLearnSets}" class="deckStatus">status: learning</div>-->
                <div class="btn edit">
                    <a href="">edit</a>
                </div>
                <div class="btn learn">
                    <a href="">learn</a>
                </div>
            </div>

        </div>


<!--        Folowed LearnSets-->
        <p style="color:white">followed LearnSets</p>
        <div class="gridContainer">
            <!-- display:grid 3 Spalten -->


            <!-- weitere gridItmes werden dynamisch geladen -->
            <div th:each="followedLearnSet : ${learnSetListFollowed}"  class="gridItem">
                <div th:text="${followedLearnSet.title}" class="deckName"></div>
                <div th:text="${followedLearnSet.getCardList().getListLength()}" class="cardCount">count: </div>
                <!--                <div th:text="${adminLearnSets}" class="deckStatus">status: learning</div>-->
                <div class="btn edit">
                    <a href="">edit</a>
                </div>
                <div class="btn learn">
                    <a href="">learn</a>
                </div>
            </div>

        </div>

    </div>
    <div class="footer"><a href="">Impressum</a></div>
</body>

</html>