<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/deckOverview.css">
</head>

<body>
    <div class="header">
        <label class="logo"><a href="">aiCard</a></label>
        <ul>
            <!-- NavBar -->
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Decks</a>
            </li>
            <li>
                <a href="">Profil</a>
            </li>
        </ul>
        <label class="logIn"><a href="">Log-In</a></label>
    </div>
    <div class="pageContent">
        <div class="gridContainer">
            <!-- display:grid 3 Spalten -->
            <div class="gridItem newGridItem">
                <p>+</p>
            </div>
            <!-- weitere gridItmes werden dynamisch geladen -->
            <div class="gridItem">
                <div class="deckName">deck0</div>
                <div class="cardCount">count:20</div>
                <div class="deckStatus">status: learning</div>
                <div class="btn edit">
                    <a href="">edit</a>
                </div>
                <div class="btn learn">
                    <a href="">learn</a>
                </div>
            </div>
            <div class="gridItem">
                <div class="deckName">deck1</div>
                <div class="cardCount">count: 30</div>
                <div class="deckStatus">status: learning</div>
                <div class="btn edit">
                    <a href="">edit</a>
                </div>
                <div class="btn learn">
                    <a href="">learn</a>
                </div>
            </div>
            <div class="gridItem">
                <div class="deckName">deck2</div>
                <div class="cardCount">count: 30</div>
                <div class="deckStatus">status: learning</div>
                <div class="btn edit">
                    <a href="">edit</a>
                </div>
                <div class="btn learn">
                    <a href="">learn</a>
                </div>
            </div>
            <div class="gridItem">
                <div class="deckName">deck3</div>
                <div class="cardCount">count: 30</div>
                <div class="deckStatus">status: learning</div>
                <div class="btn edit">
                    <a href="">edit</a>
                </div>
                <div class="btn learn">
                    <a href="">learn</a>
                </div>
            </div>
            <div class="gridItem">
                <div class="deckName">deck4</div>
                <div class="cardCount">count: 30</div>
                <div class="deckStatus">status: learning</div>
                <div class="btn edit">
                    <a href="">edit</a>
                </div>
                <div class="btn learn">
                    <a href="">learn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"><a href="">Impressum</a></div>
</body>

</html>