<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/deckOverview.css">
</head>

<body>
    <div class="header">
        <label class="logo"><a href="">aiCard</a></label>
        <ul>
            <!-- NavBar -->
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Decks</a>
            </li>
            <li>
                <a href="">Profil</a>
            </li>
        </ul>
        <label class="logIn"><a href="">Log-In</a></label>
    </div>
    <div class="pageContent">
        <div class="gridContainer">
            <!-- display:grid 3 Spalten -->
            <div class="gridItem">
                <p>+</p>
            </div>
            <!-- weitere gridItmes werden dynamisch geladen -->
            <div class="gridItem">
                <div class="deckName"></div>
                <div class="cardCount"></div>
                <div class="deckStatus"></div>
                <div class="btn edit">
                    <a href=""></a>
                </div>
                <div class="btn learn">
                    <a href=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</body>

</html>