<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="pageContent">
        <div class="pannel left whiteBG">
            <p>pannel 0</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nobis placeat corporis corrupti ut rerum animi eum modi expedita natus unde totam necessitatibus, magni facere voluptate officiis maiores, ea dolorum!</p>
            <div class="btnPlaceHolder"></div>
        </div>
        <div class="pannel right whiteBG">
            <p>pannel 1</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nobis placeat corporis corrupti ut rerum animi eum modi expedita natus unde totam necessitatibus, magni facere voluptate officiis maiores, ea dolorum!</p>
            <div class="btnPlaceHolder"></div>
        </div>
    </div>
    <div class="footer"><a href="">Impressum</a></div>
</body>

</html>