<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="pageContent">
    <div class="pannel left whiteBG">
        <label class="head">Willkommen auf aiCard</label>
        <p>Hier kannst du Karteikartensammlungen erstellen, lernen und mit Anderen teilen.</p>
        <p>Falls du noch keinen Account bei aiCard hast, kannst du hier anfangen.</p>
        <div class="btnContainer bottom">
            <div class="btn blueBtn">
                <a th:href="@{/registration}">registrieren</a>
            </div>
        </div>
        <div class="btnPlaceHolder"></div>
    </div>
    <div class="pannel right whiteBG">
        <label class="head">Vorteile von aiCard</label>
        <ul>
            <li>Karteikarten unterstützten Mediadateien:<br> mit aiCard kannst du Text-, Bilder-, Video- und Audiodateien verwenden zum Lernen.</li>
            <br>
            <li>Kartendecks folgen:<br> Mit aiCard kannst du Kartendecks von anderen Nutzer folgen und dies nutzen.</li>
            <br>
            <li>Kartendecks bewerten:<br> Jedes Kartendeck kann von anderen Nutzern bewertet und kommentiert werden.</li>
        </ul>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>