<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head">

</head>

<body th:object="${card}">
<script th:src="@{/js/learnCard.js}"></script>
<div th:replace="fragments/header :: header"></div>
<div class="pageContent">
    <div class="pannel whiteBG learnCard">
        <div class="cardSites">
            <div id="front" th:switch="${card.getCardFront().getType().name()}">
                <div th:case="TextFile">
                    <p th:text="${card.getCardFront().getTitle()}"></p>
                    <p th:text="${card.getCardFront().getData()}"></p>
                </div>

                <div th:case="PictureFile">
                    <p th:text="${card.getCardFront().getTitle()}"></p>
                    <img th:src="${card.getCardFront().getData()}">
                </div>

                <div th:case="AudioFile">
                    <p th:text="${card.getCardFront().getTitle()}"></p>
                    <audio controls>
                        <source th:src="${card.getCardFront().getData()}" type="audio/mpeg"> <!--type="?"-->
                    </audio>
                </div>

                <div th:case="VideoFile">
                    <p th:text="${card.getCardFront().getTitle()}"></p>
                    <video controls width="400">
                        <source th:src="${card.getCardFront().getData()}" type="video/mp4"> <!--type="?"-->
                    </video>
                </div>
            </div>
            <!--End Switch-->

            <div id="back" style="visibility: hidden" th:switch="${card.getCardBack().getType().name()}">
                <div th:case="TextFile">
                    <p th:text="${card.getCardBack().getTitle()}"></p>
                    <p th:text="${card.getCardBack().getData()}"></p>
                </div>

                <div th:case="PictureFile">
                    <p th:text="${card.getCardBack().getTitle()}"></p>
                    <img th:src="${card.getCardBack().getData()}">
                </div>

                <div th:case="AudioFile">
                    <p th:text="${card.getCardBack().getTitle()}"></p>
                    <audio controls>
                        <source th:src="${card.getCardBack().getData()}" type="audio/mpeg"> <!--type="?"-->
                    </audio>
                </div>

                <div th:case="VideoFile">
                    <p th:text="${card.getCardBack().getTitle()}"></p>
                    <video controls width="400">
                        <source th:src="${card.getCardBack().getData()}" type="video/mp4"> <!--type="?"-->
                    </video>
                </div>
            </div>
        </div>
        <!--End Switch-->
        <form method="POST" th:action="@{'/learnCard/' + ${learnSetAboId}}">
            <div class="btnContainer bottom">
                <button class="btn redBtn" disabled="disabled" id="dumm" style="display: none" th:name="cardKnown"
                        th:value="false">I'm stupid!
                </button>
                <button class="btn yellowBtn" id="reverse" type="button">Dreh mich!</button>
                <button class="btn greenBtn" disabled="disabled" id="schlau" style="display: none;" th:name="cardKnown"
                        th:value="true">Hab ich gewusst!
                </button>
            </div>
        </form>
        <div class="btnPlaceHolder"></div>
    </div>

</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>