<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="pageContent">
        <div>
            <div class="whiteBG pannel">
                <label>Meine LearnSets</label>
            </div>
            <div class="gridContainer">
                <!-- display:grid 3 Spalten -->

                <div class="gridItem transparentPannel">
                    <a th:href="@{/createLearnset}">
                    +
                    </a>
                </div>

                <!-- weitere gridItmes werden dynamisch geladen -->
                <div th:each="ownAbo : ${ownLearnSetAbos}" class="gridItem whiteBG pannel">
                    <div class="deckName">
                        <a th:href="@{'/cardOverview/'+${ownAbo.getLearnSet().getId()}}" th:text="${ownAbo.getLearnSet().title}"></a>
                    </div>
                    <div th:text="'Karten: ' + ${ownAbo.getLearnSet().getCardList().getListLength()}"></div>
                    <div>
                        <h4>Fakultät</h4>
                        <p th:text="${ownAbo.getLearnSet().getFaculty()}"></p>
                    </div>
                    <div>
                        <h4>Evaluation</h4>
                        <p th:if="${ownAbo.getLearnSet().calculateEvaluation() != -1}"
                           th:text="${ownAbo.getLearnSet().calculateEvaluation() + ' % positive Bewertungen bei ' +
                           ownAbo.getLearnSet().getCommentList().size() + ' Bewertungen'}"></p>
                        <p th:if="${ownAbo.getLearnSet().calculateEvaluation() == -1}" >Es gab noch keine Bewertung</p>
                    </div>
                    <!--                <div th:text="${adminLearnSets}" class="deckStatus">status: learning</div>-->
                    <div class="btnContainer bottom">
                        <div class="btn yellowBtn">
                            <a th:href="@{'/cardOverview/' + ${ownAbo.getLearnSet().getId()}}">edit</a>
                        </div>
                        <div class="btn blueBtn">
                            <a th:href="@{'/initializeLearningSession/' + ${ownAbo.getId()}}">learn</a>
                        </div>
                    </div>
                    <div class="btnPlaceHolder"></div>
                </div>

            </div>
        </div>

        <!--        Folowed LearnSets-->
        <div>
            <div class="whiteBG pannel">
                <label>followed LearnSets</label>
            </div>
            <div class="gridContainer">
                <!-- display:grid 3 Spalten -->


                <!-- weitere gridItmes werden dynamisch geladen -->
                <div th:each="favoriteLearnSetAbo : ${favoriteLearnSetAbos}" class="gridItem whiteBG pannel">
                    <div  class="deckName">
                        <a th:href="@{'/cardOverview/'+ ${favoriteLearnSetAbo.getLearnSet().getId()}}" th:text="${favoriteLearnSetAbo.getLearnSet().title}"></a>
                    </div>
                    <div th:text="'Karten: ' + ${favoriteLearnSetAbo.getLearnSet().getCardList().getListLength()}"></div>

                    <div>
                        <h4>Fakultät</h4>
                        <p th:text="${favoriteLearnSetAbo.getLearnSet().getFaculty()}"></p>
                    </div>
                    <div>
                        <h4>Evaluation</h4>
                        <p th:if="${favoriteLearnSetAbo.getLearnSet().calculateEvaluation() != -1}"
                           th:text="${favoriteLearnSetAbo.getLearnSet().calculateEvaluation() + ' % positive Bewertungen bei ' +
                           favoriteLearnSetAbo.getLearnSet().getCommentList().size() + ' Bewertungen'}"></p>
                        <p th:if="${favoriteLearnSetAbo.getLearnSet().calculateEvaluation() == -1}" >Es gab noch keine Bewertung</p>
                    </div>

                    <div class="btnContainer bottom">
                        <div class="btn yellowBtn">
                            <a th:href="@{'/unfollowLearnSet/' + ${favoriteLearnSetAbo.getId()}}">unfollow</a>
                        </div>
                        <div class="btn blueBtn">
                            <a th:href="@{'/initializeLearningSession/' + ${favoriteLearnSetAbo.getId()}}">learn</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="footer"><a href="">Impressum</a></div>
</body>

</html>