<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="pageContent">

        <p style="color:white">Meine LearnSets</p>
        <div class="gridContainer">
            <!-- display:grid 3 Spalten -->

            <div class="pannel gridItem transparentPannel">
                <a th:href="@{/createLearnset}">
                +
                </a>
            </div>

            <!-- weitere gridItmes werden dynamisch geladen -->
            <div th:each="ownAbo : ${ownLearnSetAbos}" class="gridItem">
                <div th:text="${ownAbo.getLearnSet().title}" class="deckName"></div>
                <div th:text="${ownAbo.getLearnSet().getCardList().getListLength()}" class="cardCount">count: </div>
                <!--                <div th:text="${adminLearnSets}" class="deckStatus">status: learning</div>-->
                <div class="btnContainer bottom">
                    <div class="btn yellowBtn">
                        <a th:href="@{'/cardOverview/' + ${ownAbo.getLearnSet().getId()}}">edit</a>
                    </div>
                    <div class="btn blueBtn">
                        <a th:href="@{'/initializeLearningSession/' + ${ownAbo.getId()}}">learn</a>
                    </div>
                </div>
                <div class="btnPlaceHolder"></div>
            </div>

        </div>


        <!--        Folowed LearnSets-->
        <p style="color:white">followed LearnSets</p>
        <div class="gridContainer">
            <!-- display:grid 3 Spalten -->


            <!-- weitere gridItmes werden dynamisch geladen -->
            <div th:each="favoriteLearnSetAbo : ${favoriteLearnSetAbos}" class="gridItem">
                <div th:text="${favoriteLearnSetAbo.getLearnSet().title}" class="deckName"></div>
                <div th:text="${favoriteLearnSetAbo.getLearnSet().getCardList().getListLength()}" class="cardCount">count: </div>
                <div class="btn edit">
                    <a th:href="@{'/unfollowLearnSet/' + ${favoriteLearnSetAbo.getId()}}">unfollow</a>
                </div>
                <div class="btn learn">
                    <a th:href="@{'/initializeLearningSession/' + ${favoriteLearnSetAbo.getId()}}">learn</a>
                </div>
            </div>

        </div>

    </div>
    <div class="footer"><a href="">Impressum</a></div>
</body>

</html>