<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <!--<select id="academicGrade">
    <option th:each="academicGrade : ${errorModel}"
            th:text="${academicGrade}">
    </option>
</select>-->


    <div class="pageContent">
        <div class="registration">
            <form method="POST" id="loginform" th:action="@{/accountLogin}" th:object="${account}">
                <p class="head">Anmeldung</p>
                <input th:field="*{email} " type="email" value="" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="inputtext">
                <input th:field="*{password}" type="password" id="password" name="password" placeholder="Passwort" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Passwort'" class="inputtext">
                <input type="submit" name="submit" id="loginbutton" value="anmelden" class="button btn">
            </form>
<!--            Error Messages-->
            <table th:if="${!#lists.isEmpty(errorList)}">
                <tbody>
                <tr th:each="error : ${errorList}">
                    <td><span th:text="${error}"> Title </span></td>
                </tr>
                </tbody>
            </table>
<!--            End of Error Messages-->
            <div class="btnPlaceHolder"></div>
            <a class="registrationLink" th:href="@{/registration}">registrieren</a>
        </div>
    </div>
    <div class="footer"><a href="">Impressum</a></div>
</body>

</html>