<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
    <div th:replace="fragments/header :: header"></div>

    <!--<select id="academicGrade">
    <option th:each="academicGrade : ${errorModel}"
            th:text="${academicGrade}">
    </option>
</select>-->


    <div class="pageContent">
        <div class="pannel errorPannel" th:if="${param.error}">
            Ungültiger Nutzername oder Password.
        </div>
        <div class="registration pannel whiteBG">
            <div class="formListElement">
                <label class="head">Anmeldung</label>
            </div>

            <form method="POST" id="loginform" th:action="@{/login}">

                <div class="formListElement">
                    <label>Email</label>
                    <input th:value="${registeredEmail != null} ? ${registeredEmail}" type="email" value="" id="email" name="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" class="inputtext">
                </div>

                <div class="formListElement">
                    <label>Passwort</label>
                    <input  type="password" id="password" name="password" placeholder="Passwort" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Passwort'" class="inputtext">
                </div>
                <div class="btnContainer bottom">

                    <div class="btn yellowBtn">
                        <a th:href="@{/registration}">registrieren</a>
                    </div>
                    <input type="submit" name="submit" id="loginbutton" value="anmelden" class="btn blueBtn">
                </div>
            </form>


            <div class="btnPlaceHolder"></div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>

</html>