<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="pageContent">

    <div class="whiteBG pannel registration">
        <h2 th:text="'Name ' + ${account.getName()}"></h2>
        <div class="formListElement">
            <label>Beschreibung:</label>
            <p th:text="${account.getDescription()}"></p>
        </div>
        <div class="formListElement">
            <label>Fakultät:</label>
            <p th:text="${account.getFaculty()}"></p>
        </div>
        <div class="formListElement" th:if="${!#lists.isEmpty(account.getFriends())}">
            <label>Freunde:</label>
            <table>
                <tbody>
                <tr th:each="friend : ${account.getFriends()}">
                    <td><a th:href="@{'/profile/' + ${friend.getId()}}" th:text="${friend.getEmail()}"></a></td>
                    <td th:if="${userIsProfileAccount}">
                        <a class="XBtn redBtn" th:href="@{'/removeFriendFromFriendList/' + ${friend.getId()}}" title="Account als Freund entfernen">x</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


        <div class="btnContainer bottom">
            <button class="btn yellowBtn" th:if="${userIsProfileAccount}"><a th:href="@{/updateProfile}">Account
                Bearbeiten</a></button>
            <button class="btn blueBtn" th:if="${!userIsProfileAccount && !isMyFriend}"><a
                    th:href="@{'/addFriend/' + ${account.getId()}}">Als Freund Hinzufügen</a></button>
        </div>
        <div class="btnPlaceHolder"></div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>