<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<script th:src="@{/js/secondPasswordValidation.js}"></script>
<div th:replace="fragments/header :: header"></div>


<div class="pageContent">
    <div class="errorPannel pannel" th:if="${!#lists.isEmpty(errorList)}">
        <label>ERROR</label>
        <table>
            <tbody>
            <tr th:each="error : ${errorList}">
                <td><span th:text="${error}"> Title </span></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="registration pannel whiteBG">
        <div class="formListElement">
            <label class="head">Registration</label>
        </div>

        <form id="signUp-professor" method="POST" th:action="@{/createAccount}" th:object="${newAccount}">

            <div class="formListElement">
                <label for="emailProfessor">Email</label>
                <input class="inputtext" id="emailProfessor" required th:field="*{email}" type="email">
            </div>

            <div class="formListElement">
                <label for="nameProfessor">Name</label>
                <input class="inputtext" id="nameProfessor" required th:field="*{name}" type="text">
            </div>

            <div class="formListElement">
                <label for="descriptionProfessor">Beschreibung</label>
                <input class="inputtext" id="descriptionProfessor" th:field="*{description}" type="text">
            </div>

            <div class="formListElement">
                <label for="passwordProfessor1">Passwort</label>
                <input class="inputtext" id="passwordProfessor1" required th:field="*{password}" type="password">
            </div>

            <div class="formListElement">
                <label for="passwordProfessor2">Passwort bestätigen</label>
                <input class="inputtext" id="passwordProfessor2" name="passwordProfessor2" required type="password">
            </div>

            <div class="formListElement">
                <label for="facultyProfessor">Fakultät</label>
                <select id="facultyProfessor" required th:field="*{faculty}">
                    <option th:each="faculty : ${T(de.aicard.domains.enums.Faculty).values()}"
                            th:text="${faculty}"
                            th:value="${faculty}">
                    </option>
                </select>
            </div>
            <div class="btnPlaceHolder"></div>
            <div class="btnContainer bottom">
                <input class="btn blueBtn" id="submitButton" type="submit">
            </div>
        </form>
    </div>


</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>