<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
<script th:src="@{/js/secondPasswordValidation.js}"></script>
<div th:replace="fragments/header :: header"></div>

<div class="pageContent">

  <div class="registration whiteBG pannel">

  <h1>Account Update Seite</h1>

  <table th:if="${!#lists.isEmpty(errorList)}">
    <tbody>
    <tr th:each="error : ${errorList}">
      <td><span th:text="${error}"> Title </span></td>
    </tr>
    </tbody>
  </table>


  <form id="signUp-professor" th:action="@{/updateAccount}" th:object="${account}" method="POST">

    <input th:field="*{id}" type="number" hidden>

    <div class="formListElement">
      <label for="nameProfessor">Name</label>
      <input  th:field="*{name}" id="nameProfessor" type="text" class="inputtext">
    </div>

    <div class="formListElement">
      <label for="descriptionProfessor">Beschreibung</label>
      <input  th:field="*{description}" id="descriptionProfessor" type="text" class="inputtext">
    </div>

    <div class="formListElement">
      <label for="passwordProfessor1">Passwort</label>
      <input th:field="*{password}" id="passwordProfessor1" type="password" class="inputtext">
    </div>

    <div class="formListElement">
      <label for="passwordProfessor2">Passwort bestätigen</label>
      <input id="passwordProfessor2" name="passwordProfessor2" type="password" class="inputtext">
    </div>

    <div class="formListElement">
      <label for="facultyProfessor">Fakukltät</label>
      <select id="facultyProfessor" th:field="*{faculty}">
        <option th:each="faculty : ${T(de.aicard.domains.enums.Faculty).values()}"
                th:text="${faculty}"
                th:value="${faculty}"
                th:selected="${account.getFaculty()}">
        </option>
      </select>
    </div>


    <div class="formListElement">
      <label for="addFriendByEmail">EMail angeben um als Freund hinzuzufügen</label>
      <input id="addFriendByEmail" type="email" name="addFriendByEmail" class="inputtext">
    </div>



    <div class="btnContainer">
      <input id="submitButton" type="submit" class="btn blueBtn">
    </div>
    <div class="btnPlaceHolder"></div>
  </form>

  </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>